@media only screen and (max-width: 600px) {
  .logoSize {
    height: 35px !important;
  }
  .menuBar {
    width: 100%;
  }

  .bigHeader {
    display: none;
  }

  .smallHeader {
    display: block;
    position: fixed;
    width: 100%;
    padding: 0 15px;
    background-color: white;
    box-shadow: 5px 0px 5px #d2d2d2;
  }
  .smallHeader2 {
    display: block;
  }

  .signUp {
    background-color: white;
    padding: 3px 15px;
    border: none;
    color: #11a7b0;
    border: 1px solid #11a7b0;
    border-radius: 3px;
    transition: 0.5s;
  }

  .Rmenu {
    position: absolute;
    top: 75%;
    left: 51%;
    background-color: white;
    border: 1px solid #cfcfcf;
    padding: 10px 0;
    border-radius: 2px;
    width: 44%;
  }
  .menuListR {
    margin: 0;
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 20px;
  }
  .menuListR:hover {
    color: #11a7b0;
  }
  .logistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 5rem;
    flex-direction: column !important;
    padding: 15px !important;
  }
  .signUpImg {
    display: none;
  }
  .marBin {
    margin-bottom: 5rem;
  }
  .trustText {
    font-size: 33px !important;
    font-weight: bold;
    text-align: left;
  }

  .ReImage {
    width: 100%;
  }
  .koIma {
    height: 386px;
  }

  .backWidth {
    width: 100%;
    background-image: linear-gradient(#d6fdff91, rgba(245, 252, 252, 0.41));
    padding: 50px 20px 0 20px !important;
  }

  .L3Business {
    display: none;
  }

  .me1 {
    display: grid !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .ReWhy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .sendNre {
    width: 100% !important;
    line-height: 1;
    text-align: left;
    margin-left: 15px;
  }

  .why {
    padding: 0 !important;
    margin: 0 !important;
  }

  .whyIcon {
    font-size: 40px;
    color: #11a7b0;
  }

  .whyHeader {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 3em;
  }

  .ourGoal {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 4em;
  }
  .UL {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0 !important;
    list-style-type: none;
    flex-direction: column;
    font-size: 14px !important;
  }
  .XatronLimit {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 0 !important;
    flex-direction: column;
  }
  .xaronFooter {
    color: gray !important;
    font-size: 12px !important;
    padding: 20px !important;
  }
  .socialIcon {
    color: rgb(17, 167, 176) !important;
    font-size: 20px !important;
    cursor: pointer !important;
    margin: 0px 10px !important;
  }

  .fotText {
    font-size: 12px;
    padding: 5px;
    color: gray;
  }
  .reuse4s {
    display: grid;
    justify-content: space-around;
    align-items: center;
  }
  .imageBe {
    height: 180px;
    display: none;
  }
  .imageBe1 {
    height: 180px;
    display: block;
  }
  .rowWidth {
    width: 100%;
    padding: 10px 0;
  }
  .reuse5s {
    display: grid;
    justify-content: left;
    align-items: center;
    padding: 20px 35px;
  }

  .businessMan {
    height: 330px;
    margin-right: 118px;
    border-radius: 50px 0 0 0;
    display: none;
  }
  .rowWidth {
    width: 100%;
    padding: 50px 0;
  }

  .formImag {
    width: 100%;
    height: 120px;
  }
  .smallBox {
    background-color: white;
    width: 48%;
    height: auto;
    box-shadow: 5px 5px 50px #f9f9f9, -5px -5px 50px #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #ececec;
  }

  .contentUs {
    width: 80%;
    box-shadow: 5px 5px 5px #eee, -5px -5px 5px #eee;
    padding: 20px;
  }
  .footX {
    margin: 20px 0;
  }

  .signUp {
    display: none;
  }

  .reuse4s {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px 35px;
  }

  .smallBox {
    background-color: white;
    width: 90% !important;
    height: auto;
    box-shadow: 5px 5px 50px #f9f9f9, -5px -5px 50px #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #ececec;
    margin-bottom: 20px;
  }
  .UL li {
    padding: 10px 15px;
    margin: 0 20px !important;
    cursor: pointer;
    color: gray;
  }

  .riderForm {
    width: 100%;
  }
  .formPad {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .viewPort {
    padding: 0;
    width: 100% !important;
    height: 110vh !important;
  }
  .headPad {
    padding: 10px 0px;
  }
  .beneUser {
    width: 100%;
  }
}

/* @media only screen and (max-width: 400px) {
  body {
    background-color: lightblue;
  }
} */
