/* .reuse1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reuse2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reuse3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reuse4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reuse5 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
} */

.headerNar {
  padding: 10px 95px;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: rgb(201 201 201) 5px 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subHeaderNar {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuList {
  margin: 0;
  list-style: none;
  cursor: pointer;
  transition: 0.5s;
  padding: 0 20px;
}
.menuList:hover {
  color: #11a7b0;
}

.signUp {
  background-color: white;
  padding: 7px 25px;
  border: none;
  color: #11a7b0;
  border: 1px solid #11a7b0;
  border-radius: 3px;
  transition: 0.5s;
}

.signUp:hover {
  background-color: #11a7b0;
  color: white;
  border: 1px solid #11a7b0;
}

.AboutLayout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.appStore {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ourGoals1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourGoals2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reason {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logistic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  margin-top: 7em;
  padding: 0 95px;
}
/* #F6FCFC */
.trustText {
  font-size: 56px;
  font-weight: bold;
  text-align: left;
}

.login {
  background-color: #11a7b0;
  padding: 7px 25px;
  border: none;
  color: white;
  border: 1px solid #11a7b0;
  border-radius: 3px;
  transition: 0.5s;
}

.techLimited {
  width: 100%;
  background-color: #f6fcfc;
  padding: 170px 100px;
}

.technologyLimited {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: bold;
}

.platform {
  text-align: left;
  margin-bottom: 40px;
  font-size: 20px;
}

.businessMan {
  height: 330px;
  margin-right: 15px;
  border-radius: 50px 0 0 0;
}

.smallBox {
  background-color: white;
  width: 35%;
  height: 130px;
  /* box-shadow: 5px 5px 50px #f9f9f9, -5px -5px 50px #f9f9f9; */
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #ececec;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: rgb(17, 167, 176);
  border-color: rgb(17, 167, 176);
  box-shadow: 0 0 0 0.25rem rgba(24, 159, 167, 0.46) !important;
}

.backWidth {
  width: 100%;
  background-image: linear-gradient(#d6fdff91, rgba(245, 252, 252, 0.41));
  padding: 150px 0 0 0;
}

.formModat {
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid #ececec6b;
}

.modalInput {
  height: 30px !important;
  margin-left: 10px !important;
  border: none !important;
  border-bottom: 1.5px solid #ced4da !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border-width: 100% !important;
  margin-top: -2px !important;
}

.modalInput:focus {
  border-width: 100% !important;
  height: 30px !important;
  margin-left: 10px !important;
  border: none !important;
  border-bottom: 1.5px solid #11a7b0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-top: -2px !important;
}

.modal-lg,
.modal-xl {
  max-width: 615px;
}

.modal-header .btn-close {
  margin-top: -90px;
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  margin-top: -0.5rem;
}

.modal-header .btn-close {
  margin-top: -6rem !important;
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  margin-top: -5rem !important;
  margin-top: -5rem !important;
}

.formSubmit2 {
  color: #fff !important;
  background-color: #11a7b0 !important;
  border-color: #11a7b0 !important;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(195, 233, 235) !important;
  opacity: 1;
}

.logoSize {
  height: 45px;
}

.menuBar {
  width: 25%;
}

.barIcon {
  display: none;
}

.bigHeader {
  display: block;
}

.smallHeader {
  display: none;
}

.ReImage {
  width: 22%;
}

.koIma {
  height: 450px;
}

.viewPort {
  padding: 0;
  width: 100%;
  height: 100vh;
}

.why {
  padding: 50px 90px;
  margin: 10em 70px;
}

.sendNre {
  width: 95%;
}
.whyIcon {
  font-size: 60px;
  color: #11a7b0;
}

.whyHeader {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 70px;
}

.ourGoal {
  width: 83%;
  text-align: left;
  margin-bottom: 15px;
}

.rowWidth {
  width: 100%;
  padding: 20px 0;
}
.rowWidth1 {
  width: 59%;
  padding: 20px 0;
}

.reuse4s {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}

.imageBe {
  height: 285px;
  display: block;
}
.imageBe1 {
  height: 285px;
  display: none;
}

.reuse5s {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.formImag {
  width: 100%;
  height: 204px;
}

.contentUs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.reuse4s {
  display: flex;
  justify-content: center;
  align-items: center;
}

.riderForm {
  width: 100%;
}

.formPad {
  padding: 150px 0px;
}

.headPad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.beneUser {
  width: 47%;
}
