.holdFooter {
  width: 100%;
}

.UL {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 90px;
  list-style-type: none;
  font-size: 17px;
}

.UL li {
  /* padding: 10px 15px; */
  margin: 0 20px;
  cursor: pointer;
  color: gray;
}

.UL li:hover {
  color: turquoise;
}

.XatronLimit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.xaronFooter {
  color: gray;
  font-size: 17px;
}

.socialIcon {
  font-size: 30px;
  color: #11a7b0;
  cursor: pointer;
  margin: 0 20px;
}
